<!DOCTYPE html>
<html ng-app="youtube-extractor">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="/assets/favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <div id="socialbuttons" class="clearfix">
      <div class="twitter"></div>
      <div class="facebook"></div>
      <div class="google"></div>
      <div class="hatena"></div>
    </div>
    <script type="text/javascript">
      $(function() {
        $("#socialbuttons .twitter").socialbutton("twitter", {
          button : "horizontal",
          text   : "YouTube Extractor",
          url    : "http://youtube-extractor.herokuapp.com",
      }).width(95);

      $("#socialbuttons .facebook").socialbutton("facebook_like", {
        button : "button_count",
        url    : "http://youtube-extractor.herokuapp.com",
      }).width(110);

      $("#socialbuttons .google").socialbutton("google_plusone", {
        button : "medium",
        url    : "http://youtube-extractor.herokuapp.com",
        count  : true,
      }).width(70);

      $("#socialbuttons .hatena").socialbutton("hatena", {
        button : "standard",
        url    : "http://youtube-extractor.herokuapp.com",
        title  : "YouTube Extractor",
      }).width(70);
    });
    </script>
  </body>
</html>
